* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.close {
  font-weight: 700;
  color: red;
  cursor: pointer;
  text-align: center;
  width: 25px;
  height: 27px;
  border-radius: 50%;
}
.close:hover {
  background-color: red;
  color: white;
}

.avatar {
  border-radius: 50%;
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-align: center;
}
